@media screen and (max-width: 400px) {
    hr{
        width: 60rem;
    }
}


.cont-gp1{
    width: 100rem;
    height: 10rem;
    display: grid;
    grid-template: repeat(1, 100fr) / repeat(3, 50fr);
    grid-template-areas: "c1 c2 c3";
    margin-bottom: 1rem;
}
@media screen and (max-width: 400px){
    .cont-gp1{
        display: inline-block;
    }
}

.c1{
    margin: 2rem 0 2rem 10rem;

}
@media screen and (max-width: 400px){
    .c1{
        width: 8rem;
        height: 8rem;
        margin: 2rem 0 1rem 28rem;
    }
}
.c2{
    width: 38rem;
    height: 4rem;
    margin: 0 9rem 2rem 0;
}
@media screen and (max-width: 400px){
    .c2{
        margin: 2rem 0 1rem 18rem;
    }
}

.c3{
    width: 12rem;
    height: 3.2rem;
    font-family: sans-serif;
    font-size: 1.2rem;
    margin: 2rem 18rem 1rem 2rem;
    background-color: #045ba8;
    color: white;
    cursor: pointer;
    border: 1px solid #045ba8;
}
.end-btn i{
    float: right;
}
@media screen and (max-width: 400px){
    .c3 {
        font-size: xx-large;
        margin: 4rem 0 1rem 22rem;
        width: 20rem;
        height: 5rem;
    }
}

h4{
    font-family: "Overpass", Helvetica, Arial, sans-serif;
    font-size: 1.5rem;
    line-height: 1.8rem;
    letter-spacing: 0;
    margin-bottom: 2rem;
    margin-top: 1rem;
}
p{
    margin: 0 0 1rem 0;
    color: #7f7f7f;
    font-family: "Overpass", Helvetica, Arial, sans-serif;

}
.cont-gp2{
    width: 100rem;
    height: 45rem;
    display: grid;
    grid-template: repeat(1, 100fr) / repeat(2, 50fr);
    grid-template-areas: "d1 d2";
}
@media screen and (max-width: 400px){
    .cont-gp2{
        display: inline-block;
    }
}
.d1{
    width: 487px;
    height: 650px;
    margin: 1rem 0 2rem 10rem;

}
@media screen and (max-width: 400px) {
    .d1{
        margin: 6rem 0 1rem 6rem;
        width: 45%;
        height: 40%;
    }
}
.d2{
    width: 31rem;
    height: 34rem;
    margin: 4rem 2rem 2rem 0;
}
@media screen and (max-width: 400px) {
    .d2{
        margin: 1rem 0 1rem 20rem;
        display: block;

    }
}

h2{
    font-family: "Overpass", Helvetica, Arial, sans-serif;
    font-size: 3rem;
    text-align: right;
    line-height: 50px;
    letter-spacing: 0.1rem;
}
@media screen and (max-width: 400px) {
    h2{
        /*margin: 4rem 0 1rem 1rem;*/
    }
}

h5{
    font-family: "Overpass", Helvetica, Arial, sans-serif;
    font-size: 1rem;
    text-align: right;
    line-height: 30px;
}
@media screen and (max-width: 400px) {
    h5{
        margin: 2rem 0 1rem 1rem;
        font-size: 1.2rem;

    }
}
.p-gp2{
    text-align: right;
    font-size: 1rem;
    line-height: 30px;
}
@media screen and (max-width: 400px) {
    .p-gp2{
        margin: 2rem 0 1rem 1rem;
        font-size: 1.4rem;

    }
}
.d3{
    width: 11rem;
    height: 3.2rem;
    font-family: sans-serif;
    font-size: 1.2rem;
    margin: 2rem 2rem 1rem 20rem;
    background-color: #11d5e8;
    color: white;
    cursor: pointer;
    border: 1px solid #11d5e8;
}
@media screen and (max-width: 400px) {
    .d3{
        margin: 2rem 0 1rem 14rem;
        font-size: 2rem;
        width: 18rem;
        height: 5rem;
    }
}

.titr3{
    margin: 2rem 1rem 1rem 10rem;
}
@media screen and (max-width: 400px) {
    .titr3{
        margin: 4rem 0 16rem 20rem;
        font-size: 10rem;
        width: 18rem;
        height: 5rem;
    }
}

.pricing-plans{
    width: 100rem;
    height: 45rem;
    display: grid;
    grid-template: repeat(1, 100fr) / repeat(4, 50fr);
    grid-template-areas: "card1 card2 card3 card4";
    margin: 4rem 0;
}

@media screen and (max-width: 400px){
    .pricing-plans{
        display: inline-block;
    }
}

.card1{
    width: 15rem;
    height: 32rem;
    margin: 2rem 1rem 1rem 10rem;

}
@media screen and (max-width: 400px){
    .card1{
        margin: 1rem 1rem 8rem 20rem;
    }
}

.card2{
    width: 15rem;
    height: 32rem;
    margin: 2rem 0 1rem 2rem;
}
@media screen and (max-width: 400px){
    .card2{
        margin: 1rem 1rem 8rem 20rem;
    }
}

.card3{
    width: 15rem;
    height: 32rem;
    margin: 2rem 0 1rem 2rem;

}
@media screen and (max-width: 400px){
    .card3{
        margin: 1rem 1rem 8rem 20rem;
    }
}

.card4{
    width: 15rem;
    height: 32rem;
    margin: 2rem 16rem 1rem 2rem;
}
@media screen and (max-width: 400px){
    .card4{
        margin: 1rem 1rem 8rem 20rem;
    }
}

.about1{
    background-color: #f7f7f7;
    margin: 6rem 0 2rem 0;
    width: 95rem;
    height: 25rem;
}
@media screen and (max-width: 400px){
    .about1{
        height: 46rem;
    }
}
.about2{
    align-items: center;
    display: flex;
    margin: 4rem 0 1rem 10rem;
}
@media screen and (max-width: 400px){
    .about2{
        margin: 1rem 1rem 2rem 22rem;
        display: block;
    }
}
.about21{
    display: flex;
    margin-top: 4rem;
    margin-bottom: 3rem;
}
@media screen and (max-width: 400px){
    .about21{
        text-align: center;
        display: block;
        margin: 2rem 2rem 2rem 4rem;
        width: 10rem;
        font-size: x-large;
    }
}
@media screen and (max-width: 400px){
    .about22{
        text-align: center;
        display: block;
        margin: 1rem 2rem 2rem 1rem;
    }
}
.ch6{
    margin-left: 41.5rem ;
}
@media screen and (max-width: 400px){
    .ch6{
        margin-left: 1rem;
        font-size: large;
    }
}

.ch4{
    color: #045ba8;
    margin-left: 38rem;
}
@media screen and (max-width: 400px){
    .ch4{
        align-items: center;
        margin-left: -55rem;
    }
}
.about3{
    align-items: center;
    display: flex;
    margin: 1rem 0 1rem 10rem;
}
@media screen and (max-width: 400px){
    .about3{
        display: block;
        margin: 2rem 1rem 2rem 14rem;
        font-size: x-large;
    }
}
.about31{
    display: flex;
    margin-top: 2rem;
    margin-bottom: 3rem;
}
@media screen and (max-width: 400px){
    .about31{
        display: block;
        margin: 1rem 1rem 4rem 12rem;
    }
}
h6{
    font-family: "Overpass", Helvetica, Arial, sans-serif;
    font-size: 0.8rem;
    letter-spacing: 4px;
    text-align: left;
    margin: 3rem 0 2rem 0;
    color: grey;
}
h4.pricing-plans{
    margin: 1.5rem 0 1.5rem 0;
}

ion-icon {
    color: #0707a6;
}
.e3{
    width: 12rem;
    height: 3.2rem;
    font-family: sans-serif;
    font-size: 1.2rem;
    margin: 2rem 2rem 1rem 4rem;
    background-color: #045ba8;
    color: white;
    cursor: pointer;
    border: 1px solid #045ba8;
}
@media screen and (max-width: 400px){
    .e3{
        display: block;
        margin: 1rem 1rem 4rem 12rem;
        font-size: x-large;
        width: 14rem;
        height: 4rem;
    }
}
.end-btn3 i{
    float: right;
}
.copyright{
    font-family: sans-serif;
    font-size: 1.2rem;
    margin-left: 10rem;
    color: #808080;
}
@media screen and (max-width: 400px){
    .top1{
        display: inline-block;
        margin: 2rem 1rem 1rem 3rem;
        font-size: x-large;
        width: 12rem;
        text-align: center;
    }
}
@media screen and (max-width: 400px){
    .copyright{
        display: inline-block;
        margin: 2rem 1rem 1rem 26rem;
        font-size: x-large;
        width: 12rem;
        text-align: center;
    }
}
@media screen and (min-width: 400px) and (max-width: 720px){
    .top1{
        display: inline-block;
        margin: 2rem 1rem 1rem 3rem;
        font-size: x-large;
        width: 12rem;
        text-align: center;
    }
}
@media screen and (min-width: 401px) and (max-width: 720px){
    .copyright{
        display: inline-block;
        margin: 2rem 1rem 1rem 26rem;
        font-size: x-large;
        width: 12rem;
        text-align: center;
    }
}

